:root {
  --achareh: #00bfa5;
}

.text-achareh {
  color: var(--achareh);
}
.bg-achareh {
  background: var(--achareh);
}
.hover\:bg-primary\/90:hover {
  background: var(--achareh);
}

html {
  background-color: #f5f5f5;
}
#__nuxt {
  overflow-x: hidden;
}
/* Define Font Faces */

@font-face {
  font-family: "Vazirmatn";
  src: url("@/assets/fonts/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Apply Font Globally */
* {
  font-family: "Vazirmatn", sans-serif;
}

html {
  direction: rtl;
}

::-webkit-scrollbar {
  z-index: 11;
  width: 3px;
}
::-webkit-scrollbar:horizontal {
  height: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #b4bccc;
}
::-webkit-scrollbar-corner {
  background: #fff;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
  width: 6px;
}

.Notivue__notification {
  direction: ltr !important;
}
.aspect-square {
  color: var(--achareh) !important;
  border-color: var(--achareh) !important;
}
.ol-control {
  translate: 0 60px !important;
}
